.main_page{
    background-color: #cec577;
    border: 18px solid var(--mahogany);
    border-radius: 44px;
    height: 1701px;
    left: 140px;
    position: absolute;
    top: 26px;
    width: 3536px;
}