
:root {
  --transparent:
  rgba(0, 0, 0, 0);
  --paper:
  #fbfbf8;
  --about:
  #2a86d5;
  --contact: 
rgba(176, 218, 55, 1);
  --black: 
rgba(0, 0, 0, 1);
  --boston-blue: 
rgba(67, 150, 196, 1);
  --tundora: 
rgba(75, 70, 70, 1);
  --shakespeare: 
rgba(77, 180, 202, 1);
  --mahogany: 
rgba(202, 77, 77, 1);
  --fuchsia-pink: 
rgba(202, 77, 190, 1);
  --tacha: 
rgba(206, 197, 119, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-family-couriernew:"Courier New", Courier, Monospace;
  --font-size-tiny: 1rem;
  --font-size-m: 2rem;
  --font-size-m-l: 2.7rem;
  --font-size-l: 3.5rem;
  --font-size-cla: 8rem;
  --x-spacing:50%;
  --avoid-header-top:13.6%;
  --avoid-header-side:65rem;
  --spacing-hb-side:30rem;
}
@media (orientation:landscape) {
  
  body{
    background-color: black;
    width:100vw;
    height:100vh;
    /* z-index: -100; */
    /* overflow: hidden; */
  }
  html {
    /* height of sticky header */
    /* scroll-padding-top: 10%; */
    font-size: 62.5%;
    /* font-size:100%; */
    /* overflow: hidden; */
    position: fixed;
  }
  
  
  img{
    max-width: 100%;
  }
  /* @media screen and (max-width: 4000px) {
    html{
      font-size: 1%;
    }
  } */
  
  
  
  .add_shadow{
    box-shadow: .25rem 0rem .5rem rgba(3, 3, 3, 0.301);
  }
  .home_tab_shadow{
    box-shadow: .2rem -.25rem .2rem rgba(3, 3, 3, 0.301);
  }
  .fake_page_filler_shadow{
    box-shadow: .2rem -.25rem .3rem rgba(3, 3, 3, 0.301);
  }
  .no_textdec{
    text-decoration: none;
  }
  
  .fit_text{
    text-align: center;
  }
  
  .sticky_note_tab{
    background-color: #f5ecd962;
    position:absolute;
    height:15%;
    right:-1%;
    width:18%;
    box-shadow: 0rem 0rem .1rem rgba(3, 3, 3, 0.301)  ;
  }
  
  .home_tab {
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: #f1d592;
    width:7%;
    position: absolute;
    right:-6.9%;
    height:20%;
  }
  
  .home_tab_b {
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    background-color: #c4ac74;
    height:20%;
    position:absolute;
    /* top:0vh; */
    left:-6.9%;
    width:7%;
    /* transform: rotate(90deg); */
  }
  
  
  .about_sticky_tab{
    transform: rotate(-5deg);
    /* right:-28vw; */
    top:25%;
  }
  .about_sticky_tab_b{
    transform: rotate(5deg);
    /* left:-3.2vw; */
    left:-1%;
    top:25%;
  }
  
  .about_tab{
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: var(--about);
    width:35%;
    right:-35%;
    height:100%;
    position:absolute;
    /* top:3.5vh; */
    /* transform: rotate(90deg); */
  }
  
   
  .about_tab_b{
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    background-color: var(--about);
    width:35%;
    left:-35%;
    z-index: -1;
    height:100%;
    position:absolute;
    /* top:3.5rem; */
    /* transform: rotate(-90deg); */
  }
  
  .project_sticky_tab{
    transform: rotate(6deg);
    top:50%;
  }
  .project_sticky_tab_b{
    transform: rotate(-6deg);
    left:-2.1vw;
    top:50%;
  }
  
  .project_tab{
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: red;
    width:35%;
    right:-35%;
    height:100%;
    /* right:-1.9vw; */
    position:absolute;
    /* height:10vh; */
  }

  .tab_text{
    /* position:relative; */
    text-align: center;
    font-size: 1vw;
    transform: rotate(90deg);
  }
  
  .project_tab_b{
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;  
    background-color: red;
    /* height:10vh; */
    /* left:-1.9vw; */
    width:35%;
    left:-35%;
    height:100%;
    position:absolute;
    /* top:3.5rem; */
    width:2vw;
    /* transform: rotate(-90deg); */
  }
  
  .contact_sticky_tab{
    transform: rotate(2deg);
    /* right:-27vw; */
    top:70%;
  }
  .contact_sticky_tab_b{
    transform: rotate(-2deg);
    left:-2.1vw;
    top:70%;
  }
  
  .contact_tab{
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-color: var(--contact);
    width:35%;
    right:-35%;
    height:100%;
    position:absolute;
  }
  .contact_tab_b{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--contact);
    position:absolute;
    width:35%;
    left:-35%;
    height:100%;
    transform: rotate(-90deg);
  }
  
  
    
  .font-size-large{
    font-size: var(--font-size-l);
  }
  .font-size-classified{
    font-size: var(--font-size-cla);
  }
  .font-size-tiny{
    font-size: var(--font-size-tiny);
  }
  .font-size-medium{
    font-size: var(--font-size-m);
  }
  .font-size-medium-large{
    font-size: var(--font-size-m-l);
  }
  
  .font-color-black{
    color:black;
  }
  
  .font-color-red{
    color: var(--mahogany);
  }
  
    .couriernew-normal{
      font-family: "Courier New", Courier, Monospace;
      font-weight: 400;
      font-style: normal;
    }
    .lucidahandwriting-normal{
      font-family:cursive;
      font-weight:200;
      font-style:normal;
    }
  
  .header{
      background-color: rgba(255, 255, 255, 0.459);
      height:6rem;
      position:fixed;
      width:100%;
      left:0px;
      top:0px
  }
  
  .header_info{
    right: 5rem;
    position:absolute;
    top:0;
  }
  
  .page_background{
      height: 100%;
      width:100%;
      left:0px;
      position: fixed;
      top:0;
  }
  
  .text_align{
      text-align: center;
      position:absolute;
  }
  
  .main_page{
    /* background-color: #2a86d5; */
    background-color: #f1d592; 
      /* background-color: var(--transparent); */
      min-width: 33vw;
      min-height: 35vh;
      border-bottom-right-radius: 1.2vw;
      border-top-left-radius: .1vw;
      border-bottom-left-radius: .1vw;
      height: 100%;
      top:5%;
      /* left:0px; */
      width: 90%;
      position: absolute;
      z-index: 20;
  }
    
  .avoid_header{
    top:14.5%;
  }
  
  /* 95,96,98 */
  .page{
    z-index: 0;
    background-color: var(--paper);
    height: 85%;
    top:1rem;
    top:3%;
    min-width: 25%;
    width:85%;
    min-height: 30rem;
    position: absolute;
  }
  
  .fake_page_filler1{
    /* z-index: -3; */
    /* background-color: #2a86d5; */
    top:5%;
    left:3%;
    transform: rotate(-10deg);
    
  }
  
  .fake_page_filler2{
    /* z-index: -2; */
    top:10%;
    left:-10%;
    transform: rotate(15deg);
  }
  .fake_page_filler3{
    /* z-index: -4; */
    position: absolute;
    top:5%;
    left:-10%
  }
  .fake_page_about{
    right:9%;
    top:10%;
    /* transform: rotate(4deg); */
  }
  .fake_page_about_b{
    left:0%;
    transform: rotate(-2deg);
  }
  
  .fake_page_contact{
    /* z-index: -1; */
    top:14%;
    right:9%;
    transform: rotate(-5deg);
  }
  
  .fake_page_contact_b{
    top:0vh;
    left:1vw;
    transform: rotate(-5deg);
  }
  
  .fake_page_project{
    right:8%;
    top:3%;
    transform: rotate(3deg);
  }
  .fake_page_project_b{
    /* z-index: 2; */
    right:2vw;
    transform: rotate(3deg);
  }
  
  .closed_folder{
    z-index: 0;
      background-color: #c4ac74;
      height: 100%;
      position: absolute;
      width: 45%;
  }
  
  .closed_folder_right{
    border-bottom-right-radius: 44px;
    right: 4.9%;
    /* width: 45%; */
    border-top-right-radius: 44px;
  }
  
  .closed_folder_left{
    border:2px #ac9767;
    border-style: none solid none;
    border-bottom-left-radius: 44px;
    left:4.9%;
  
  }
  .closed_folder_loc{
    top: var(--top);
    right: var(--right);
    border-top-right-radius: 44px;
  }
  
  .hidden{
    display: none;
  }
  
  .content_page_contact{
    border: 15px var(--paper);
    left:3vw;
    border-style: solid solid solid solid;
    transform: rotate(10deg);
  }
  .content_page_project{
    border: 15px var(--paper);
    /* border: 25px red; */
    border-style: solid solid solid solid;
    left:1rem;
    transform: rotate(3deg);
  }
  .content_page_about{
    /* border: 25px var(--about); */
    border: 15px var(--paper);
    border-style: solid solid solid solid;
    transform: rotate(7deg);
  }
  .classified{
    display: none;
      left:1vw;
      top: 20vh;
      /* position:absolute; */
      position: relative;
      text-align: center;
      transform: rotate(75deg);
      border-width: .3vw;
      border-style: groove;
      border-color: red;
  }
  /* 
  .classified::before{
      content: "CLASSIFIED";
  } */
  
  
  .programme-extraordinaire-garett-bare {
    left:3vw;
    letter-spacing: 0;
    line-height: 5vh;
    position: absolute;
    font-size: 3vw;
    text-align: center;
    top: 20vh;
    transform: rotate(-10deg);
    border-style: groove;
    border-color: black;
    /* width: 50rem; */
  }
  
  .polaroid_main{
    background-color: #fbfbf8;
    height:35vh;
    width:15vw;
    position: absolute;
    text-align: center;
  }
  
  .polaroid_selfie1{
    transform: rotate(-25deg);
    top:3vh;
    left:-2vw;
    z-index: 100;
  }
  
  .polaroid_text{
    font-size: 5vh;
    bottom:3%;
    left:50%;
    position:absolute;
  }

  .polaroid_text_hidden{
    font-size: 5vh;
    bottom:3%;
    right:50%;
    /* text-align: center; */
    position:absolute;
  }
  
  .polaroid_selfie16-9-1{
    z-index:2;
    z-index: 1000;
    transform: rotate(10deg);
    left:17vw;
    top:-8vh;
  }
  .polaroid_selfie16-9-2{
    z-index:1;
    z-index: 1000;
    transform: rotate(10deg);
    left:17vw;
    top:-8vh;
  }
  
  .polaroid_prison16-9-1{
    z-index:2;
    z-index: 1000;
    transform: rotate(4deg);
    left:18vw;
    top:40vh;
  }
  .polaroid_prison16-9-2{
    z-index:1;
    z-index: 1000;
    transform: rotate(4deg);
    left:18vw;
    top:40vh;
  }
  
  .polaroid_movement16-9-1{
    z-index:2;
    z-index: 1000;
    transform: rotate(-50deg);
    left: 0vw;
    top: 43vh;
  }
  .polaroid_movement16-9-2{
    z-index:2;
    z-index: 1000;
    transform: rotate(-50deg);
    left: 0vw;
    top:43vh;
  }
  
  .selfie{
    position:absolute;
    left:8%;
    top:6.5%;
    height:80%;
    max-width:90%;
    filter:grayscale(100%)
  }
  
  .selfie16-9{
    position:absolute;
    left:6.5%;
    top:6.5%;
    height:75%;
    max-width:87%;
    filter:grayscale(100%)
  }
  
  
  /* .polaroid_selfie16-9-1:hover{
    z-index: 0;
  } */
  .polaroid_selfie16-9-1:active{
    z-index: 0;
  }
  .polaroid_movement16-9-1:active{
    z-index: 0;
  }
  .polaroid_prison16-9-1:active{
    z-index: 0;
  }
  
  .contact_info{
/* margin-right: 5%; */
right:5vw;
font-size: 3vh;
    letter-spacing: 0;
    line-height: 5vh;
    /* position: absolute; */
    /* text-align: center; */
    top: 10vh;
    transform: rotate(0deg);
    border-style: groove;
    border-color: black;
  }
  
  .project_info{
    right:5vw;
    letter-spacing: 0;
    font-size: 3vh;
    line-height: 5vh;
    position: absolute;
    text-align: center;
    top: 5vh;
    transform: rotate(0deg);
    border-style: groove;
    border-color: black;
  }
  
  .about_info{
    font-size: 1.5vw;
    left:0rem;
    letter-spacing: 0;
    line-height: 3vh;
    position: absolute;
    text-align: center;
    top: 2rem;
  }
  /* 
  .programme-extraordinaire-garett-bare::before{    
    content: "Programme Extraordinaire\A\AGarett Bare";
  } */
  
  
    :root{
      --avoid-header-top:50%;
      --avoid-header-side:15rem;
      --spacing-hb-side:10rem;
    }
  
 
  
  .cover{
    background-color: var(--transparent);
    /* background-color: red; */
    position: absolute;
    top:0%;
    left:30%;
    width: 50%;
    height:100%;
    /* transform: rotate(-4deg); */
    overflow-y: hidden;
  }
  
  
  .open_page{
    background-color: var(--transparent);
    position: absolute;
    width:100%;
    height:100%;
  }
}
