@import "Landscape.css";
@import "Portrait.css";
:root {
  --transparent:
  rgba(0, 0, 0, 0);
  --paper:
  #fbfbf8;
  --about:
  #2a86d5;
  --contact: 
rgba(176, 218, 55, 1);
  --black: 
rgba(0, 0, 0, 1);
  --boston-blue: 
rgba(67, 150, 196, 1);
  --tundora: 
rgba(75, 70, 70, 1);
  --shakespeare: 
rgba(77, 180, 202, 1);
  --mahogany: 
rgba(202, 77, 77, 1);
  --fuchsia-pink: 
rgba(202, 77, 190, 1);
  --tacha: 
rgba(206, 197, 119, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-family-couriernew:"Courier New", Courier, Monospace;
  --font-size-tiny: 1rem;
  --font-size-m: 2rem;
  --font-size-m-l: 2.7rem;
  --font-size-l: 3.5rem;
  --font-size-cla: 8rem;
  --x-spacing:50%;
  --avoid-header-top:13.6%;
  --avoid-header-side:65rem;
  --spacing-hb-side:30rem;
}