
:root {
  --transparent:
  rgba(0, 0, 0, 0);
  --paper:
  #fbfbf8;
  --about:
  #2a86d5;
  --contact: 
rgba(176, 218, 55, 1);
  --black: 
rgba(0, 0, 0, 1);
  --boston-blue: 
rgba(67, 150, 196, 1);
  --tundora: 
rgba(75, 70, 70, 1);
  --shakespeare: 
rgba(77, 180, 202, 1);
  --mahogany: 
rgba(202, 77, 77, 1);
  --fuchsia-pink: 
rgba(202, 77, 190, 1);
  --tacha: 
rgba(206, 197, 119, 1);
  --white: 
rgba(255, 255, 255, 1);


  --font-family-couriernew:"Courier New", Courier, Monospace;
  --font-size-m: 2rem;
  --font-size-l: 3.5rem;
  --font-size-cla: 8rem;
}


html {
  scroll-padding-top: 10%; /* height of sticky header */
  font-size: 62.5%;
  overflow:hidden;  
}

img{
  max-width: 100%;
}
/* @media screen and (max-width: 4000px) {
  html{
    font-size: 1%;
  }
} */

@media screen and (max-width: 600px) {
  html{
  font-size: 32%;
  }
}


.add_shadow{
  box-shadow: .25rem 0rem .5rem rgba(3, 3, 3, 0.301);
}
.home_tab_shadow{
  box-shadow: .2rem -.25rem .2rem rgba(3, 3, 3, 0.301);
}
.fake_page_filler_shadow{
  box-shadow: .2rem -.25rem .3rem rgba(3, 3, 3, 0.301);
}
.no_top{
  top:0;
}
.no_side{
  right:0
}

.no_textdec{
  text-decoration: none;
}

.fit_text{
  text-align: center;
}

.sticky_note_tab{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f5ecd962;
  height:10rem;
  position:absolute;
  width:8rem;
  box-shadow: 0rem 0rem .1rem rgba(3, 3, 3, 0.301)  ;
}

.home_tab {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #f1d592;
  height:3.1rem;
  right:-9rem;
  position:absolute;
  top:6rem;
  width:15rem;
  transform: rotate(90deg);
}
.home_tab_text{  
  left:10%;
  letter-spacing: 5px;
  line-height: 150%;
  position: absolute;
  top:-50%;
  transform: rotate(-2deg);
}

.home_tab_b {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #c4ac74;
  height:3rem;
  left:-9rem;
  position:absolute;
  top:6rem;
  width:15rem;
  transform: rotate(90deg);
}


.about_sticky_tab{
  transform: rotate(-5deg);
  right:-3.2rem;
  top:13rem;
}
.about_sticky_tab_b{
  transform: rotate(5deg);
  left:-3.2rem;
  top:13rem;
}

.about_tab{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--about);
  height:3rem;
  right:-5rem;
  position:absolute;
  top:3.5rem;
  width:10rem;
  transform: rotate(90deg);
}

 
.about_tab_b{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--about);
  height:3rem;
  left:-5rem;
  position:absolute;
  top:3.5rem;
  width:10rem;
  transform: rotate(-90deg);
}

.project_sticky_tab{
  transform: rotate(6deg);
  right:-3.2rem;
  top:30rem;
}
.project_sticky_tab_b{
  transform: rotate(-6deg);
  left:-3.2rem;
  top:30rem;
}

.project_tab{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: red;
  height:3rem;
  right:-5rem;
  position:absolute;
  top:3.5rem;
  width:10rem;
  transform: rotate(90deg);
}

.project_tab_b{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;  
  background-color: red;
  height:3rem;
  left:-5rem;
  position:absolute;
  top:3.5rem;
  width:10rem;
  transform: rotate(-90deg);
}

.contact_sticky_tab{
  transform: rotate(2deg);
  right:-3.2rem;
  top:50rem;
}
.contact_sticky_tab_b{
  transform: rotate(-2deg);
  left:-3.2rem;
  top:50rem;
}

.contact_tab{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--contact);
  height:3rem;
  right:-5rem;
  position:absolute;
  top:3.5rem;
  width:10rem;
  transform: rotate(90deg);
}
.contact_tab_b{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--contact);
  height:3rem;
  left:-5rem;
  position:absolute;
  top:3.5rem;
  width:10rem;
  transform: rotate(-90deg);
}


  
.font-size-large{
  font-size: var(--font-size-l);
}
.font-size-classified{
  font-size: var(--font-size-cla);
}
.font-size-small{
  font-size: var(--font-size-s);
}
.font-size-medium{
  font-size: var(--font-size-m);
}

.font-color-black{
  color:black;
}

.font-color-red{
  color: var(--mahogany);
}

  .couriernew-normal{
    font-family: "Courier New", Courier, Monospace;
    font-weight: 400;
    font-style: normal;
  }
  .lucidahandwriting-normal{
    font-family:cursive;
    font-weight:200;
    font-style:normal;
  }

.header{
    background-color: rgba(255, 255, 255, 0.459);
    height:6rem;
    position:fixed;
    width:100%;
    left:0px;
    top:0px
}

.header_info{
  right: 5rem;
  position:absolute;
  top:0;
}

.page_background{
    height: 100%;
    width:100%;
    left:0px;
    position: fixed;
    top:0;
}

.text_align{
    text-align: center;
}

.main_page{
    background-color: #f1d592;
    /* background-color: blueviolet; */
    border-bottom-right-radius: 44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 70rem;
    top:5rem;
    left:0rem;
    position: absolute;
    width: 55rem;
}


.main_backpage{
  background-color: var(--transparent);
  height: 85rem;
  left: 25%;
  position: absolute;
  width: 70rem;
  overflow: hidden;
  transform: rotate(-8deg);
}

.avoid_header{
  top:14.5%;
}
/* 95,96,98 */
.fake_page{
  background-color: var(--paper);
  /* border-bottom-right-radius: 44px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
  top:1rem;
  position: absolute;
}

.fake_page_filler1{
  z-index: -3;
  height: 64rem;
  top:0rem;
  width:54rem;
  left:4rem;
  transform: rotate(-10deg);
}

.fake_page_filler2{
  z-index: -2;
  height: 65rem;
  width:30rem;
  top:-1rem;
  left:2rem;
  transform: rotate(18deg);
}
.fake_page_filler3{
  z-index: -4;
  height: 65rem;
  width:45rem;
  left:.5rem;
  top:-1rem;
}
.fake_page_about{
  z-index: 0;
  top:5rem;
  height: 65rem;
  border: 15px var(--paper);
  /* border: 15px var(--about); */
  border-style: solid;
  width:55rem;
  left:-1rem;
  transform: rotate(4deg);
}
.fake_page_about_b{
  right:1rem;
  height: 65rem;
  top:3rem;
  border: 15px var(--paper);
  /* border: 15px var(--about); */
  border-style: solid;
  width:54rem;
  transform: rotate(-2deg);
}

/* .fake_page_contact{
  z-index: -2;
  top:6rem;
  height: 65rem;
  left:1rem;
  border: 15px var(--contact);
  border-style: solid;
  transform: rotate(-5deg);
  width:54rem;
} */

.fake_page_contact{
  z-index: 0;
  top:4rem;
  left:1rem;
  height: 65rem;
  /* border: 15px var(--contact); */
  border: 15px var(--paper);
  border-style: solid;
  transform: rotate(-5deg);
  width:54rem;
}

.fake_page_contact_b{
  top:4rem;
  left:1rem;
  height: 65rem;
  border: 15px var(--contact);
  border-style: solid;
  transform: rotate(-5deg);
  width:54rem;
}
/* 
.fake_page_project{
  z-index: -2;
  top:6rem;
  height: 65rem;
  left:1rem;
  border: 15px var(--paper);
  border: 15px red;
  border-style: solid;
  transform: rotate(3deg);
  width:55rem;
} */

.fake_page_project{
  left:2rem;
  height: 65rem;
  border: 15px var(--paper);
  border-style: solid;
  width:55rem;
  top:3rem;
  transform: rotate(3deg);
}
.fake_page_project_b{
  z-index: 2;
  right:-2rem;
  height: 65rem;
  top:3rem;
  border: 15px var(--paper);
  border-style: solid;
  width:55rem;
  transform: rotate(3deg);
}

.closed_folder{
    background-color: #c4ac74;
    height: 70rem;
    right: 0rem;
    position: absolute;
    width: 50rem;
}

.closed_folder_right{
  border-bottom-right-radius: 44px;
  right: 0rem;
  top: 0rem;
  border-top-right-radius: 44px;
}

.closed_folder_left{
  border:2px #ac9767;
  border-style: none solid none;
  border-bottom-left-radius: 44px;
  right: 50rem;
  top: 0rem;

}
.closed_folder_loc{
  top: var(--top);
  right: var(--right);
  border-top-right-radius: 44px;
}

.hidden_background{
    background-color: var(--transparent);
    height: 70rem;
    left:15rem;
    position: absolute;
    width: 100rem;
}

.hidden_background_about{
  top:130%;
}


.hidden_background_project{
  top:260%;
}

.hidden_background_contact{
  top:390%;
}

.hidden_background_spacing{
  top:520%;
}


.content_page{
    background-color: var(--paper);
    /* outline:50px var(#f1d592); */
    /* outline-style: solid solid solid none; */
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;   */
    height: 65rem;
    position: absolute;
    top: 1rem;
    width: 54rem;
}

.content_page_contact{
  /* border: 25px var(--contact); */
  border: 15px var(--paper);
  border-style: solid solid solid solid;
  transform: rotate(-5deg);
}
.content_page_project{
  border: 15px var(--paper);
  /* border: 25px red; */
  border-style: solid solid solid solid;
  left:1rem;
  transform: rotate(3deg);
}
.content_page_about{
  /* border: 25px var(--about); */
  border: 15px var(--paper);
  border-style: solid solid solid solid;
  transform: rotate(7deg);
}
.classified{
    left:7rem;
    position:absolute;
    /* text-align: center; */
    top: 20rem;
    transform: rotate(75deg);
    border-width: 3px;
    border-style: groove;
    border-color: red;
}
/* 
.classified::before{
    content: "CLASSIFIED";
} */


.programme-extraordinaire-garett-bare {
  left:3rem;
  letter-spacing: 0;
  line-height: 5rem;
  position: absolute;
  text-align: center;
  top: 25rem;
  transform: rotate(-10deg);
  border-style: groove;
  border-color: black;
  /* width: 50rem; */
}

.polaroid_main{
  background-color: #fbfbf8;
  height:45%;
  width:55%;
  position: absolute;
}

.polaroid_selfie1{
  transform: rotate(-25deg);
  left:-10%;
  top:8%;
}

.polaroid_selfie2{
  z-index: 1000;
  transform: rotate(10deg);
  left:50%;
  top:-8%;
}

.selfie{
  position:absolute;
  left:10%;
  top:5%;
  max-width:80%;
  filter:grayscale(100%)
}

.contact_info{
  left:10rem;
  letter-spacing: 0;
  line-height: 5rem;
  position: absolute;
  text-align: center;
  top: 10rem;
  transform: rotate(0deg);
  border-style: groove;
  border-color: black;
}

.project_info{
  left:10rem;
  letter-spacing: 0;
  line-height: 5rem;
  position: absolute;
  text-align: center;
  top: 10rem;
  transform: rotate(0deg);
  border-style: groove;
  border-color: black;
}

.about_info{
  left:0rem;
  letter-spacing: 0;
  line-height: 3rem;
  position: absolute;
  text-align: center;
  top: 8rem;
}
/* 
.programme-extraordinaire-garett-bare::before{    
  content: "Programme Extraordinaire\A\AGarett Bare";
} */







